<body>
    <div id="box">
    <div id="center">
        <h3 id="title">Member Login</h3>
        <form id="logform" action="/login" method="POST">
            <div id="inpdiv">
                 <label for="username">User Name</label>
                <input id="input" type="text" name="name">
                <img id="nameIMG" src="https://www.rogowaylaw.com/wp-content/uploads/Blank-Employee.jpg" />
                <hr id="divider">
                <label for="password">Password</label>
                <input id="input" type="password" name="password" >
                <img id="passwordIMG" src="https://www.pinclipart.com/picdir/middle/108-1086044_lock-clipart-doodle-lock-line-icon-png-transparent.png" />
            </div>
            <button id="login" class="btn" type="submit">Login</button>
        </form>
    </div>
</div>


</body>