#box {
    background-color: rgb(235,235,235);
    width: 400px;
    margin: auto;
}

#center {
    width: 85%;
    margin: 0 auto;
}

#title {
    padding-top: 35px;
    color: rgb(167, 167, 167);
}

#input {
    border: 0pt;
    width: 250px;
    height: 45px;
    padding: 0;
    padding-left: 50px;
    font-style: italic;
    color: black;
    outline-width: 0;
}
#nameIMG {
    width: 40px;
    height: 40px;
    position: absolute; 
    left: 15px;
    padding-top: 0px;
}

#passwordIMG {
    width: 30px;
    height: 40px;
    position: absolute; 
    left: 18px;
    padding-top: 0px;
}

#login {
    width: 100%;
    border: 0;
    width: 330px;
    height: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15pt;
    background-color: rgb(225,225,0);
    margin-bottom: 20px;
}

#inpdiv {
    position: relative;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: 1pt solid rgb(206, 206, 206);
    margin-bottom: 15px;
}

#divider {
    padding: 0;
    margin: 0;
    width: 100%;
    margin: auto;
    border: 0.2pt solid rgb(206, 206, 206);
}
